.hidden {
    display: none !important;
}

/*.close-icon {*/
/*    position: absolute;*/
/*    padding: 3px;*/
/*    right: 0;*/
/*    top: 0;*/
/*    color: gray;*/
/*}*/

.motor-control-card .ant-card-body {
    background-color: lightgray;
    padding: 10px;
}
.motor-control-card .ant-card-head {
    padding: 5px;
}
.motor-control-card .ant-card-extra {
    position: relative;
    right: -3px;
}

.close-icon {
    font-size: 11px;
}

.motor-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motor-control > div {
    margin-bottom: 10px;
}

.smallForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.smallForm > div {
    margin-bottom: 10px;
}

.hubDetails {
    display: flex;
    justify-content: space-between;
}

.tiltControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
.tiltIcon {
    font-size: 50pt;
    border-radius: 100px;
    background-color: lightgray;
    padding: 10px;
}
.tiltValue {
    margin: 10px;
    width: 2em;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
    padding: 8px 8px;
}
