.hidden {
    display: none !important;
}

.motor-control {
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motor-control > div {
    margin-bottom: 10px;
}

.smallForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.smallForm > div {
    margin-bottom: 10px;
}

.hubDetails {
    display: flex;
    justify-content: space-between;
}
