.hidden {
    display: none !important;
}

.motor-control-card .ant-card-body {
    background-color: lightgray;
    padding: 10px;
}
.motor-control-card .ant-card-head {
    padding: 5px;
}
.motor-control-card .ant-card-extra {
    position: relative;
    right: -3px;
}

.small-icon {
    font-size: 14px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}

.motor-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motor-control > div {
    margin-bottom: 10px;
}

.smallForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.smallForm > div {
    margin-bottom: 10px;
}

.hubDetails {
    display: flex;
    justify-content: space-between;
}

.tiltControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
.tiltIcon {
    font-size: 50pt;
    border-radius: 100px;
    background-color: lightgray;
    padding: 10px;
}
.tiltValue {
    margin: 10px;
    width: 2em;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
    padding: 8px 8px;
}

.motor-control-card > .ant-card-head {
    background-color: #f6f6f6;
}

.motor-control-card > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
    padding: 0;
}

.motor-control-card > .ant-card-head > .ant-card-head-wrapper > .ant-card-extra {
    padding: 0;
}
